<section class="main">
  <div class="container">
    <div style="position:absolute;right: 20px;">
      <h4 class="text__main">среда, 17:00</h4>
    </div>
    <h4 class="text__main">Новостная лента</h4>

    <div class="companyFon">
    <div>
      <p class="company">
      Скоро выходные! Прошла половина недели ☺
      </p>
    </div>
    </div>
<br>
    <div class="companyFon">
      <div>
        <p class="company">
          Отдел программистов закончил работу над защитой хаккерских атак. Теперь можем спать спокойно!
        </p>
      </div>
    </div>

    <br>
    <div class="companyFon">
      <div>
        <p class="company">
         С завтрашнего дня начинается прием заявок на конкурс "Лучшая фотография из отпуска" до 30 марта
        </p>
      </div>
    </div>

    <br>
    <div class="companyFon">
      <div>
        <p class="company">
       Вчера у Матвея Александровича, из отдела менеджеров, родился сын. Поздравим его, ура!!!
        </p>
      </div>
    </div>

    <br>
    <div class="companyFon">
      <div>
        <p class="company">
         Сегодня ровно год, как существует HR- отдел. Вы молодцы! Благодаря вам у нас такие прекрасные сотрудники ❤ ❤ ❤
        </p>
      </div>
    </div>

    <br>
    <div class="companyFon">
      <div>
        <p class="company">
          Коллеги, до зарплаты осталось еще чуть- чуть, 10 дней, и будет счастье!
        </p>
      </div>
    </div>

  </div>
</section>
