<section class="main">
  <div class="container">
    <h4 class="text__main">Личный кабинет</h4>
    <div class="companyFon" style="margin-left: -10px;height: 300px;">
      <div>
          <div class="news_item">
            <img src="./../../../assets/pics/masha.jpg">
            <p>Фамилия: Божко</p><br>
            <p style="margin-left: 248px;">Имя: Мария</p><br>
            <p style="margin-left: 248px;">Отчество: Евгеньевна</p><br>
            <p style="margin-left: 248px;"> День Рождения: 15.04.2001</p>
          </div>
      </div>
    </div><br>
    <div class="companyFon" style="margin-left: -10px;">
      <div>
        <h6 class="subText">Хобби</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Любимая музыка</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Любимые фильмы</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Любимые сериалы</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Любимые книги</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Любимые цитаты</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Любимые игры</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Образование</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Район проживания</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Цели по жизни</h6>
        <input class="text-input" type="text">
      </div>
      <br>
      <div>
        <h6 class="subText">Напиши все, что хочешь...</h6>
        <input class="text-input" type="text">
      </div>

    </div>
    <div class="container-main">
        <div class="price-btn" style="margin-top: 20px;margin-left: -10px;">
          <p>Сохранить изменения</p>
        </div>
    </div>

  </div>
</section>
