<div class="main">
  <div class="container">
    <form>
      <h3 class="text__main">Информация о компании</h3>
      <div class="companyFon">
        <div>
          <p class="company">Госкорпорация «Росатом» (Государственная корпорация по
            атомной энергии «Росатом») является одним из крупнейших
            многопрофильных холдингов, располагающих активами в энергетике,
            машиностроении и строительстве. Госкорпорация занимает
            лидирующие позиции в области производства электроэнергии в
            России, обеспечивая свыше 19% энергетических потребностей
            страны. Кроме этого, Госкорпорация обладает значительным
            портфелем международных проектов, благодаря широкому спектру
            компетенций во всех звеньях ядерного топливного цикла:
            геологоразведка и добыча урана, конверсия и обогащение урана,
            фабрикация ядерного топлива, машиностроение, проектирование
            и строительство АЭС, генерация электрической энергии, вывод
            ядерных объектов из эксплуатации, обращение с отработавшим
            ядерным топливом и радиоактивными отходами. Занимает первое
            место в мире по величине портфеля зарубежных проектов, на разной
            стадии реализации находятся 35 энергоблоков в 12 странах.
            <br><br>
            Направления деятельности Госкорпорации также включают:
            материаловедение, выпуск оборудования и изотопной продукции для
            нужд ядерной медицины, выпуск цифровых продуктов, производство
            различной ядерной и неядерной инновационной продукции,
            проведение научных исследований. Особое внимание уделено
            проектам низкоуглеродной генерации, включая ветроэнергетику.
            Научный дивизион Росатома уделяет особое внимание замыканию
            ядерного топливного цикла на базе реакторов на быстрых нейтронах,
            реализуя проект «Прорыв». Замкнутый ядерный топливный цикл
            позволит существенно повысить эффективность использования
            природного урана, решить проблему накопления ядерных отходов и
            обеспечить человечество надежным и долгосрочным источником
            экологически чистой энергии.
          </p>


        </div>
      </div>
    </form>
    <div class="container-main">
      <a [routerLink]="['','login']" routerLinkActive="active">
        <div class="price-btn" style="margin-top: 20px;">
          <p>Войти</p>
        </div>
      </a>
      <a [routerLink]="['','registration']" routerLinkActive="active">
        <div class="price-btn">
          <p>Зарегистрироваться</p>
        </div>
      </a>
    </div>
  </div>
</div>
