@font-face{
    font-family: 'Roboto-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Bold.woff') format('woff');
}

@font-face{
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-Bold.woff') format('woff');
}

@font-face{
    font-family: 'OpenSans-Regular';
    font-weight: 700;
    font-style: normal;
    //src: url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    //url('./assets/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face{
    font-family: 'PTSans-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/PTSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/PTSans-Bold.woff') format('woff');
}

@font-face{
    font-family: 'PTSans-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/PTSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/PTSans-Regular.woff') format('woff');
}
